# Conditional

Logical Conditions yang biasa dipakai dalam matematika :

1. Equals : a == b
2. Not Equals : a != b
3. Less than : a < b
4. Less than or equal to : a <= b
5. Greater than : a > b
6. Greater than or equal to : a >= b

## If Statement

In [4]:
x = 0
y = 5

if x < y:
    print('yes')

if y < x:
    print('yes')

if x:
    print('yes')
    
if y:
    print('yes')
    
if 'aul' in 'grault':
    print('yes')
    
if 'quux' in ['foo', 'bar', 'baz']:
    print('yes')

yes
yes
yes

In [1]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [2]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print('Inner condition 1')
    
    print('Between inner conditions')
    
    if 10 < 20:
        print('Inner condition 2')
        
    print('End of outer condition')

print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

## The else and elif Clauses

In [ ]:
if <expr>:
    <statement(s)>
else:
    <statement(s)>

In [3]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [4]:
x = 120

if x < 50:
    print('(First suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [6]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print('uang tidak cukup')

uang tidak cukup

In [7]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print('uang tidak cukup')

uang tidak cukup

In [8]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [9]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

## One-Line if Statements

In [10]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [11]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [12]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [13]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [14]:
x = 3

if x == 1: 
    print('foo')
    print('bar')
    print('baz')
elif x == 2: 
    print('qux')
    print('quux')
else: 
    print('corge')
    print('grault')

corge
grault

## Conditional Expressions (Python's Ternary Operator)

In [1]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [17]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [19]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [21]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [24]:
if a > b:
    m = a
else:
    m = b

NameError: name 'a' is not defined

## The Python pass Statement

In [25]:
if True:

print('foo')

IndentationError: expected an indented block (3367160564.py, line 3)

In [26]:
if True:
    pass
print('foo')

foo

Iteration artinya mengeksekusi blok kode yang sama berulang kali, berpotensi berkali-kali. Struktur pemrograman yang mengimplementasikan iterasi disebut loop.

Dalam pemrograman, ada dua jenis iterasi, indefinite dan definite:
1. Dengan indefinite iteration, berapa kali loop dijalankan tidak ditentukan secara eksplisit sebelumnya. Sebaliknya, blok yang ditunjuk dijalankan berulang kali selama beberapa kondisi terpenuhi.
2. Dengan definite iteration, berapa kali blok yang ditunjuk akan dieksekusi ditentukan secara eksplisit pada saat perulangan dimulai.

## Python "while" Loops

In [2]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [3]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

## The Python break and continue Statements

In [5]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [6]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

## The else Clause

In [ ]:
while <expr>:
    <statement(s)>
else:
    <additional_statement(s)>

In [7]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [8]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

## Infinite Loops

In [ ]:
while True:
    print('foo')

## Nested while Loops

In [ ]:
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

In [ ]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

Break atau continue statement yang ditemukan dalam nested loop berlaku untuk loop terdekat :

In [ ]:
while <expr1>:
    statement
    statement
    
    while <expr2>:
        statement
        statement
        break # Applies to while <expr2>: loop
        
    break # Applies to while <expr1>: loop

Selain itu, while loop dapat ditempatkan di dalam pernyataan if/elif/else, dan sebaliknya :

In [ ]:
if <expr>:
    statement
    while <expr>:
        statement
        statement
        
else:
    while <expr>:
        statement
        statement
    statement
while <expr>:
    if <expr>:
        statement
    elif <expr>:
        statement
    else:
        statement
    
    if <expr>:
        statement

## One-Line while Loops

Seperti pernyataan if, loop while dapat ditentukan pada satu baris. Jika ada beberapa pernyataan di blok yang membentuk badan perulangan, pernyataan tersebut dapat dipisahkan dengan titik koma (:):

In [2]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

## A Survey of Definite Iteration in Programming

Definite iteration loops sering disebut dengan for loops karena for adalah keyword yang digunakan untuk memperkenalkan definite iteration loops di hampir semua bahasa pemrograman, including Python.

### Numeric Range Loop

In [ ]:
for i = 1 to 10:
    <loop body>

### Three-Expression Loop

Bentuk lain dari for loop yang dipopulerkan oleh bahasa pemrograman C berisi tiga bagian :
- An initialization
- An expression specifying an ending condition
- An action to be performed at the end of each iteration

Jenis ini memiliki bentuk sebagai berikut:

In [ ]:
for (i = 1; i <= 10; i++):
    <loop body>

Loop ini diartikan sebagai berikut:
- Initialize i to 1
- Continue looping as long as i <= 10
- Increment i by 1 after each loop iteration